*{
  margin: 0;
  padding: 0;
}
.navbar{
  width: 100%;
  background-color: #009B4D;
  display: flex;
  list-style: none;
  color: white;
}
.navbar-brand{
  color: white;
  margin-left: 50px;
}
.nav-link{
  color: white;
}
li{
  padding: 9px;
  padding-left: 1rem;
}
.nav-link:hover, 
.navbar-brand:hover,
.switch:hover{
  color: #FFCC00;
  cursor: pointer;
}
.intro{
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.btn{
  padding:7px;
  margin: 4px;
}
#text,.form-control{
  border: solid grey 1px;
  background-color: #E5EDF1;
}
.buttons, .collapse{
  display: flex;
}
.form-check{
  position: relative;
  left: 50%;
}
.switch{
  cursor: pointer;
}
.input-group{
  width: auto;
}