*{
  margin: 0;
  padding: 0;
}
.navbar{
  background-color: lightgreen;
  display: flex;
  list-style: none;
}
.navbar-brand{
  margin-left: 50px;
}
li{
  padding: 9px;
  padding-left: 1rem;
}
.nav-link:hover{
  color: blue;
  cursor: pointer;
}
.intro{
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.btn{
  padding:7px;
  margin: 4px;
}
#text,.form-control{
  border: solid grey 1px;
}
.buttons{
  display: flex;
}